*
{
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}
.course
{
  display: flex;
  margin: 20px;
  background-color: azure;
}

ul
{
  list-style:none;
  display: flex;

  li
  {
    margin: 10px;

    a
    {
      text-decoration: none;
      color: aqua;
    }
  }
}